* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.navbar-brand {
  font-size: 2rem;
  color: black;
  padding: 10px;
}
.navbar-brand:hover {
  color: red;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover {
  color: yellow;
}
.column1 {
  padding-top: 30px;
  float: left;
  width: 50%;
  padding: 20px;
  height: 600px;
  /* background-image: url(/img/girl2.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.column2 {
  padding-top: 30px;
  float: left;
  width: 50%;
  padding: 20px;
  height: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn1 {
  color: white;
  background-color: red;
}
.btn1:hover {
  background-color: green;
}
.btn {
  color: black;
  font-weight: bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: brown;
  }
  100% {
    background-color: red;
  }
}
.deep {
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.para2 {
  color: darkblue;
  font-weight: bold;
}
.pos1 {
  height: 50px;
  width: 120px;
  position: fixed;
  bottom: 0px;
  right: 750px;
  padding: 0px;
  margin-bottom: 110px;
  border: 2px solid white;
  background-color: red;
}
.pos1:hover {
  background-color: darkgreen;
}
.bottom {
  position: fixed;
  bottom: 0px;
  right: 800px;
  padding: 0px;
  margin-bottom: 70px;
}

.carousel-item {
  height: 70vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel input {
  position: absolute;
  left: -10000px;
}

.carousel {
  width: 100%;
  height: 100%;
  margin-top: -240px;
}

.carousel__stage {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  transition: text-indent 500ms;
  position: relative;
}

.carousel__item {
  display: inline-block;
  text-indent: 0;
  width: 100%;
  height: 100%;
}

.carousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.carousel__control {
  display: none;
  position: absolute;
  top: 45%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  margin-top: 40px;
}

.carousel__prev {
  left: 0;
}

.carousel__prev::after {
  content: " << ";
  display: inline-block;
}

.carousel__next {
  right: 0;
}

.carousel__next::after {
  content: " >> ";
  display: inline-block;
}

#carousel1:checked ~ .carousel__stage {
  text-indent: 0;
}

#carousel2:checked ~ .carousel__stage {
  text-indent: -100%;
}

#carousel3:checked ~ .carousel__stage {
  text-indent: -200%;
}

#carousel4:checked ~ .carousel__stage {
  text-indent: -300%;
}

#carousel1:checked
  ~ .carousel__stage
  .carousel__item:nth-child(1)
  .carousel__control,
#carousel2:checked
  ~ .carousel__stage
  .carousel__item:nth-child(2)
  .carousel__control,
#carousel3:checked
  ~ .carousel__stage
  .carousel__item:nth-child(3)
  .carousel__control,
#carousel4:checked
  ~ .carousel__stage
  .carousel__item:nth-child(4)
  .carousel__control {
  display: block;
}
